config CONFIG_A
	bool "Feature A"

choice
	bool "Alternative group of feature A"
	depends on CONFIG_A

	config CONFIG_B
		bool "Feature B"

	config CONFIG_C
		bool "Feature C"

	config CONFIG_D
		bool "Feature D"

endchoice
