config FEATURE_Z
  bool "Feature Z"

config FEATURE_B
  bool "Feature B"
  depends on FEATURE_Z

config FEATURE_A
	bool "Or group of A"
	depends on CHILD_B || CHILD_C || CHILD_D
        select FEATURE_Z
        imply FEATURE_Z

config CHILD_B
	bool "Feature B in or group of A"
	select FEATURE_A
        depends on FEATURE_Z

config CHILD_C
	bool "Feature C in or group of A"
	select FEATURE_A
        depends on FEATURE_Z

config CHILD_D
	bool "Feature D in or group of A"
	select FEATURE_A
        depends on FEATURE_Z
